@font-face {
  font-family: 'Uthman Taha';
  src: local('KFGQPC Uthman Taha Naskh'),
    url('./assets/fonts/UthmanTN1\ Ver10.otf') format('opentype');
}

@font-face {
  font-family: 'Uthman Taha';
  font-weight: 700;
  src: local('KFGQPC Uthman Taha Naskh'),
    url('./assets/fonts/UthmanTN1B\ Ver10.otf') format('opentype');
}

@font-face {
  font-family: 'Lotus';
  src: local('adwa-assalaf'),
    url('./assets/fonts/adwa-assalaf.ttf') format('truetype');
}

@font-face {
  font-family: 'Lotus';
  font-weight: 700;
  src: local('adwa-assalaf'),
    url('./assets/fonts/adwa-assalaf.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson';
  src: local('Atkinson Hyperlegible'),
    url('./assets/fonts/Atkinson-Hyperlegible-Regular-102.otf')
      format('opentype');
}

@font-face {
  font-family: 'Atkinson';
  font-weight: 700;
  src: local('Atkinson Hyperlegible'),
    url('./assets/fonts/Atkinson-Hyperlegible-Bold-102.otf') format('opentype');
}

@font-face {
  font-family: 'Atkinson';
  font-style: italic;
  src: local('Atkinson Hyperlegible'),
    url('./assets/fonts/Atkinson-Hyperlegible-Italic-102.otf')
      format('opentype');
}

@font-face {
  font-family: 'Atkinson';
  font-weight: 700;
  font-style: italic;
  src: local('Atkinson Hyperlegible'),
    url('./assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.otf')
      format('opentype');
}
